name: Start new hotfix
on:
  workflow_dispatch:
    inputs:
      version:
        description: Hotfix version
        required: true
jobs:
  start-new-hotfix:
    name: Start new hotfix
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Create hotfix branch
        run: |
          git branch hotfix/${{ github.event.inputs.version }} main
          git push origin hotfix/${{ github.event.inputs.version }}
